################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Afluex/v14/.suo
/.vs/Afluex/v14/.suo
*.suo
